.profile-container {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.profile-container img {
  width: 40rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
}

.information p {
  line-height: 8rem;
}
